/* ==================================================================
Basic
================================================================== */
body {
  background: #fff;
  color: #555;
}
/* ==================================================================
Typography
================================================================== */
h1 {
  color: #fff;
  border-color: #fff;
}
h2 {
  color: #000;
  border-color: #ccc;
}
h4 {
  color: #f60;
}
h5 {
  color: #f60;
  background: rgba(255,255,255,0.4);
  display: inline-block;
  padding: 4px 20px;
  font-weight: bold;
}
h6 {
  color: #a9a9a9;
}
/* ==================================================================
Links
================================================================== */
a:hover,
a:focus {
  color: #555;
}
a.button:hover {
  border-color: #ecc117;
}
p a {
  color: #f60;
}
/* ==================================================================
Forms
================================================================== */
label {
  color: #404040;
}
input,
textarea,
select,
button {
  background: #fff;
  color: #242424;
  border: 1px solid #e4e4e4;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #f60;
}
input[type="submit"],
button,
a.button {
  color: #fff;
  background-color: #94dc34;
  background: -webkit-linear-gradient(#94dc34, #51a80d);
  background: -moz-linear-gradient(#94dc34, #51a80d);
  background: -ms-linear-gradient(#94dc34, #51a80d);
  background: -o-linear-gradient(#94dc34, #51a80d);
  background: linear-gradient(#94dc34, #51a80d);
  box-shadow: inset 0px 1px 0px #b2ea73, inset 0 -1px 2px #2e6d06;
}
input[type="submit"]:hover,
button:hover,
a.button:hover {
  color: #fff;
  background-color: #81d128;
  background: -webkit-linear-gradient(#81d128, #44a00a);
  background: -moz-linear-gradient(#81d128, #44a00a);
  background: -ms-linear-gradient(#81d128, #44a00a);
  background: -o-linear-gradient(#81d128, #44a00a);
  background: linear-gradient(#81d128, #44a00a);
}
a.button.orange {
  background: #f7941d;
  background: -webkit-linear-gradient(#f7941d, #d75305);
  background: -moz-linear-gradient(#f7941d, #d75305);
  background: -ms-linear-gradient(#f7941d, #d75305);
  background: -o-linear-gradient(#f7941d, #d75305);
  background: linear-gradient(#f7941d, #d75305);
  box-shadow: inset 0px 1px 0px #ffbb6a, inset 0 -1px 2px #a33f03;
}
a.button.orange:hover {
  background: #eb8016;
  background: -webkit-linear-gradient(#eb8016, #cc4504);
  background: -moz-linear-gradient(#eb8016, #cc4504);
  background: -ms-linear-gradient(#eb8016, #cc4504);
  background: -o-linear-gradient(#eb8016, #cc4504);
  background: linear-gradient(#eb8016, #cc4504);
}
/* ==================================================================
Preloader
================================================================== */
.preloader {
  color: #333;
}
.preloader-spinner {
  border: 2px solid #dbdbdb;
  border-top: 2px solid #f60;
}
/* ==================================================================
Intro
================================================================== */
.intro {
  color: #fff;
  background: url("http://placehold.it/2560x1440/666666/f1f1f1") top center no-repeat;
}
.intro h2 {
  color: #fff;
  border-color: #fff;
}
ul.intro-features li {
  background: rgba(0,0,0,0.2);
}
.intro-image {
  position: absolute;
  top: 0;
  left: 15px;
  max-width: none;
  width: auto;
  z-index: auto;
}
p.intro-description {
  width: 450px;
}
.intro h2 {
  width: 80%;
  font-size: 22px;
}
ul.intro-features img {
  margin: 0 20px 0 60px;
}
.text-column {
  padding-bottom: 125px;
}
.form-column {
  margin-top: -596px;
}
/* ==================================================================
Main Form
================================================================== */
.main-form {
  background: #fff;
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  background: -moz-linear-gradient(#fff, #e6e6e6);
  background: linear-gradient(#fff, #e6e6e6);
  background: -ms-linear-gradient(#fff, #e6e6e6);
  background: -o-linear-gradient(#fff, #e6e6e6);
  color: #696969;
}
.submit-arrow {
  color: #fff;
  background: url("../images/arrow-orange.png") top right no-repeat;
}
.submit-arrow span {
  color: #900;
}
.disclaimer {
  color: #a9a9a9;
}
.main-form h4 {
  font-size: 22px;
}
/* ==================================================================
Contact Form
================================================================== */
.contact-form {
  border: 1px solid #ccc;
}
/* ==================================================================
Thanks Popup
================================================================== */
.thanks-popup {
  background: #fff;
}
.thanks-popup .thanks-heading {
  background: url("http://placehold.it/650x210/333333/444444") center center no-repeat;
}
.thanks-popup button.mfp-close:hover {
  color: #fff;
}
/* ==================================================================
Hero
================================================================== */
.hero h3 {
  color: #000;
}
.hero h3 span {
  color: #f60;
}
/* ==================================================================
Icon Block
================================================================== */
.icon-block i {
  background: #ebe9d9;
  color: #333;
}
/* ==================================================================
Pricing Table
================================================================== */
.pricing-table {
  border: 1px solid #e3e3e3;
}
.pricing-table.featured {
  border-color: #f60;
}
.pricing-table .table-title {
  border-bottom: 1px solid #e3e3e3;
}
.pricing-table .table-price {
  border-bottom: 1px solid #e3e3e3;
  color: #000;
}
.pricing-table ul.table-features li {
  border-color: #e3e3e3;
}
.pricing-table ul.table-features li:nth-child(even) {
  background: #f6f6f6;
}
/* ==================================================================
Testimonial
================================================================== */
.testimonial-block {
  border: 1px solid #e3e3e3;
}
.testimonial-block p.testimonial {
  color: #000;
}
.testimonial-block p.author span {
  color: #f60;
}
/* ==================================================================
Bottom CTA
================================================================== */
.bottom-cta {
  background: url("http://placehold.it/2560x1440/666666/333333") center center no-repeat;
}
.bottom-cta h2 {
  color: #fff;
}
.bottom-cta-image {
  left: 15px;
  top: 0px;
}

