# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache


!.gitignore

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

bower_components/
node_modules/
tmp/


public/*

!public/styles
public/styles/*
!public/styles/font-awesome.min.css

!public/js
public/js/*
!public/js/html5.js
!public/js/modernizr.js

!public/fonts

!public/images