section.footer
  div.container
    div.row
      div.column-100
        div.social
          <!-- Facebook -->
          div#fb-root
          div.fb-like(data-href="" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false")

          <!-- Twitter -->
          a.twitter-share-button(href="https://twitter.com/share") Tweet
          
          <!-- Google Plus -->
          div.g-plusone(data-size="medium")

        p Copyright © 2014 Approach. All rights reserved.