section.form-clients
  div.container
    div.row
      div.column-40.form-column.text-center
        form.main-form.validate( method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate)
          h4 Interested in our product?
          p.main-form-description The treat dispenser is still in the prototype stages but sign up to hear news about it's development
          label(for="email") Email Address
            span *
          input.form-email.required.signup(type="email" value="" name="EMAIL" id="mce-EMAIL")
          label(for="name") First Name
          input.signup(type="text" value="" name="FNAME" class="" id="mce-FNAME")
          label(for="name") Last Name
          input.signup(type="text" value="" name="LNAME" class="" id="mce-LNAME")
          div.submit-holder
            //- div(class="submit-arrow animate-arrow") Request new a <span>free sample</span> of our product
            input.form-submit(type="submit" name="submit" id="submit" value="Submit")
          p.disclaimer We will never share your email address with anyone and won't bombard you with emails. Promise.
      div.column-60.clients
        div.row
          div.column-40 
            p Who already believes in us
          div.column-30
            img(src="https://placehold.it/120x70" alt="client-logo" title="Client Logo")
          div.column-30
            img(src="https://placehold.it/120x70" alt="client-logo" title="Client Logo")
