section.bottom-cta
  div.container
    div.row
      div.column-60
        h2 Get a free sample today and join the growing community of "Approach" lovers
        a.button.orange.cta(href="#top") Request Free Sample
      div.column-40
        img.bottom-cta-image(src="https://placehold.it/358x145" alt="product-image")
