section.intro
  div.container
    div.row
      div.column-100.text-center.intro-heading-block
        img.logo(src="images/logo-2.png" alt="approach" title="Approach Landing Page")
        h1 Approach - Ultimate Landing Page
        h5 We're not just here to set your business up, but to support you as it grows.
    div.row
      div.column-60.text-column.text-center
        p.intro-description Donec sed dictum felis. Vivamus a odio quis metus bibendum pharetra. Ut quis luctus eros. Ut ac tortor et laoreet metus ligula neque consequat suscipit.</p>
        div.row
          div.column-20
            img.intro-image(src="http://placehold.it/120x400/333333/f1f1f1" alt="intro-image")
          div.column-80
            h2 Reliable, Fast and Low Cost
            ul.intro-features
              li
                img(src="images/icon-check.png" alt="check icon") Lorem ipsum dolor sit amet
              li
                img(src="images/icon-check.png" alt="check icon") Aenean laoreet metus ligula malesuada
              li
                img(src="images/icon-check.png" alt="check icon") Vulputate lacus solicitudin
              li
                img(src="images/icon-check.png" alt="check icon") Quis luctus tortor consequat
