section.content
  div.container
    div.row
      div.column-100
        h2 The story behind our product
        div.row.content-block
          div.column-70
            h4 Unspoiled Nature
            p Curabitur at dolor id est elementum auctor. Nunc placerat, arcu ut iaculis suscipit, ante lorem hendrerit dui, sit amet malesuada sapien risus vitae sapien. Sed sagittis diam consequat leo fringilla feugiat.<br>
            | Ut rutrum cursus quam, ac hendrerit tortor lobortis sed. Mauris sollicitudin tincidunt lectus eget laoreet.
          div.column-30
            img(src="https://placehold.it/720x500" alt="content-image")
        div.row.content-block
          div.column-70.float-right
            h4 Variety of Fruits
            p Duis sit amet velit suscipit, mollis neque sit amet, consectetur ipsum. Aenean id tortor tempus, pulvinar turpis a, imperdiet sapien.<br>
            | Suspendisse sagittis nibh elit, ac euismod purus suscipit id. Vivamus diam leo, pellentesque sit amet felis non, eleifend bibendum turpis.
          div.column-30
            img(src="https://placehold.it/720x500" alt="content-image")
        div.row.content-block
          div.column-70
            h4 Made with Love
            p Curabitur at dolor id est elementum auctor. Nunc placerat, arcu ut iaculis suscipit, ante lorem hendrerit dui, sit amet malesuada sapien risus vitae sapien. Sed sagittis diam consequat leo fringilla feugiat.<br> 
            | Duis sit amet velit suscipit, mollis neque sit amet, consectetur ipsum. Aenean id tortor tempus, pulvinar turpis a, imperdiet sapien.
          div.column-30
            img(src="https://placehold.it/720x500" alt="content-image")
