section
  div.container
    div.row
      div.column-100
        div.testimonial-block
          p.testimonial #{testimonial}
          p.author <span>#{name}</span> - #{title}
          img(src= image alt="testimonial-image" title="Testimonial Image")
