div.thanks-popup.mfp-hide(id="thanks-popup")
  div(class="thanks-heading")
    h1 Thank you for trusting us!
  div.thanks-body
    p We will contact you shortly!<br>
    | In the meantime you can download our <a href="#">services brochure</a>.
    p Want to know when we have special deals?
    a.button.orange Visit special deals page
